<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trending Fashion Analyzer</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <h1>Welcome to the Trending Fashion Analyzer</h1>
    <div class="tabs">
        <a href="/tshirt"><button>T-shirts</button></a>
        <a href="/dress"><button>Dresses</button></a>
        <a href="/skirt"><button>Skirts</button></a>
    </div>
</body>
</html>
